font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}

@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff")
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}

body, html {
    height: 100%;
}


body {
    display: flex; 
    flex-direction: column;
    background-color: azure;
    margin: 0;
 
 }

 .logo  {
 font-size: 2em;
 background-color: bisque;
 display: block;
 text-align: center;
 font-family: lakeshore;
 text-transform: uppercase;
 
 }

 .main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
 }

 .main-class.hidden {
    --thumbnails-img-width: 35vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33) 
}

 .details-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 10vh;
     transition: 5s  cubic-bezier(0.1,.95,.07,.95);*/
 }

 .hidden .details-container {
    display: none;
}

.details-image-container {
    height: 100%;
    position: relative;
}

.hide-button {
    position: absolute;
    top: 0;
    right: 0;
}

 .details-image {
     width: 80vw;
     height: 70vw;
     border-radius: 25%;
 }

 .details-title {
 display: block;
 
 }

 .thumbnails-list {
 list-style: none;
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 max-height: 25vh;
 overflow-y: auto;
 justify-content: space-around;
 padding-left: 0;
 }

 .hidden .thumbnails-list {
    max-height: 80vh;
    margin-bottom: 10vh;
}

 .thumbnails-item {
 
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border-radius: 25%;
    overflow: hidden;
    border: solid 1px black
   
 }
 .thumbnails-image {
 
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
 }
 .thumbnails-title {
     display: block; 
     text-align: center;
     height: var(--thumbnails-title-height);
     background-color: beige;
     font-family: airstream;
     font-style: italic;
     font-size: 2vw;
 }
 .thumbnails-anchor {
    
    text-decoration: none;
 }

 .thumbnails-item:hover {
   transform: scale(1.15);
 }

 .is-point {
    transform: scale(0.001);  
    transition: 0s; 
}

 @media (min-width: 560px) {

    :root {
        --thumbnails-img-width: 14vw;
        --thumbnails-img-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
    }

 .main-class.hidden {
    --thumbnails-img-width: 14vw;
    --thumbnails-img-height: 10vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;

        align-items: center;
        align-self: center;
    }


    .hidden  .thumbnails-list{
        max-width: 80vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .hidden  .thumbnails-item{
       margin: 1vh;
        
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
      
    }

    .details-container {
        height: 70%;
        flex-grow: 3;
        margin: 0;
        align-items: center;
        align-self: center;
       /*position: relative;*/
    }
    .details-image-container {
        height: 100%;
        position: relative;
    }
    .details-title {
        position: absolute;
        bottom: 0;
        left: 0;
    }
 
    .details-image {
      
        height: 30vw;
        width:auto;
        aspect-ratio:4/3;
    }
}

    @media (min-width: 900px) {
        .logo {
            font-size: 5em;
        }
        .details-image {
            flex-grow: 1;
            width: 66vw;
           height: 100%;
           align-self: center;
        }

        .thumbnails-list {
            scroll-behavior: auto;
            scroll-snap-align: 10;
            scroll-snap-type: proximity;
            
        }
    }
