font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, html {
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column;
    background-color: azure;
    margin: 0;
 }
 .logo  {
 font-size: 2em;
 background-color: bisque;
 display: block;
 text-align: center;
 font-family: lakeshore;
 text-transform: uppercase;
 
 }
 .main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
 }
 .details-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 10vh;
 
 }
 .details-image {
 
     width: 80vw;
     height: 70vw;
     border-radius: 25%;
 }
 .details-title {
 display: block;
 
 }
 .thumbnails-list {
 list-style: none;
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 max-height: 25vh;
 overflow-y: auto;
 justify-content: space-around;
 padding-left: 0;
 }
 .thumbnails-item {
 
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border-radius: 25%;
    overflow: hidden;
    border: solid 1px black
   
 }
 .thumbnails-image {
 
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
 }
 .thumbnails-title {
     display: block; 
     text-align: center;
     height: var(--thumbnails-title-height);
     background-color: beige;
 }
 .thumbnails-anchor {
    
    text-decoration: none;
 }

 @media (min-width: 560px) {

    :root {
        --thumbnails-img-width: 14vw;
        --thumbnails-img-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;

        align-items: center;
        align-self: center;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
      
    }

    .details-container {
        flex-grow: 3;
        margin: 0;
        align-items: center;
        align-self: center;
    }

    .details-image {
        width: 40vw;
        height: 30vw;

    }

    @media (min-width: 900px) {
        .logo {
            font-size: 5em;
        }

        .details-image {
            width: 66vw;
            height: 55vw;
        }

        .thumbnails-list {
            scroll-behavior: auto;
            scroll-snap-align: 10;
            scroll-snap-type: proximity;
            
        }
    }
}