
body {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.word-guess {
    display: flex;
    flex-direction: row;
    background-color: gray;
}
.word-guess.game-over {
    display: none;
}

.letter-guess {
    font-size: 1.5em;
    margin-left: 2vw;
    
    width: 3.5vw;
    text-align: center;
}

.result-label {
    display: none;
}
.result-label.game-over {
    display: inline-block;
}


